// .light-theme {
//     $primary-color: grey;
//     $secondary-color: black;
//     .resume-wrapper{
//         background-color: $primary-color;
//         color: $secondary-color;
//     }

// }

// .dark-theme {
//     $primary-color: black;
//     $secondary-color: white;
//     .resume-wrapper{
//         background-color: $primary-color;
//         color: $secondary-color;
//     }
// }
.btn {
    color: $secondary-color;
    border: 1px solid $third-color;
    // border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    margin: 10px 0;
    text-transform: uppercase;
}
.btn:hover {
    background-color: $secondary-color;
    color: $third-color;
    font-weight: bold;
    // background-color: $third-color;
    // color: $primary-color;
    transition: 0.5s ease;
}

.resume-wrapper{
    background-color: $primary-color;
    color: $secondary-color;
    width: 100%;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth; 
    overflow-y: scroll;
    height: 100vh;
    
    section {
        scroll-snap-align: start;
    }

    .container {
        width: 80%;
        margin: 0 auto; 
    }

    .sec {
        // scroll-snap-align: start;    
        min-height: 100vh;
        // border-bottom: 1px solid $secondary-color;
        position: relative;
        .section-heading {
            text-align: center;
            text-transform: uppercase;
            margin: 25px 0;
        }
        padding: 30px 0;
    }
    .intro-sec {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        position: relative;
        .pic-wrapper {
            // position: absolute;
            // top: 90px;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            padding: 10px;
            border: 1px solid $third-color;
            margin-top: -100px;
            margin-bottom: 20px;
            img {
                width: 100%;
                border-radius: 50%;
            }
        }
        h1{
            font-size: 60px;
            text-transform: uppercase;
            span {
                color: $third-color;
                span{
                    animation: move-text 0.75s forwards;
                    position: relative;
                    opacity: 0;
                    display: inline-block;
                }
                @keyframes move-text {
                    0% { bottom: -0.2em; opacity: 1; }
                    50% { bottom: 0.2em; }
                    100% { bottom: 0; opacity: 1; }
                }
            }
        }
        .intro-subsec {
            display: flex;
            justify-content: center;
            position: absolute;
            margin: 0 auto;
            bottom: 30px;
            // min-width: 800px;
            flex-wrap: wrap;
            left: 50%;
            transform: translateX(-50%);
            
            .intro-title {
                margin: 0 20px;
                width: 180px;
                span {
                    // color: $third-color;
                    font-weight: bold;
                }
            }
        }
    }
    .resumetech {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        span{
            font-weight: bold;
            color: $third-color;
        }
    }
    .mybenefit-sec {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .mybenefit-content {
            // width: 70%;
            // margin: 0px auto;
            h2 {
                margin: 0 0 20px 0;
                margin-top: -60px;
                color: $third-color;
                text-transform: uppercase;
            }
        }
    }
    .myquote-sec {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .myquote-content {
            width: 80%;
            margin: 0 auto;
            .quote-mark {
                position: absolute;
                svg {
                    font-size: 50px;
                }
            }
            .quote-left {
                top: 50px;
                left: 50px;
            }
            .quote-right {
                bottom: 50px;
                right: 50px;
            }
            p{
                font-size: 20px;
                font-weight: bold;
                span {
                    color: $third-color;
                }
            }
        }
    }

    .sec-arrow-down {
        position: absolute;
        bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
    }
    
    .experience-sec {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .section-heading {
            color: $third-color;
        }
        .experiences {
            flex-wrap: wrap;
            justify-content: space-around;
            .experience {
                width: 45%;
                // background-color: #73737342;
                background-color: $primary-color;
                // box-shadow: 5px 4px 8px 0 rgba(71, 71, 71, 0.36), 0 6px 20px 0 rgb(71, 71, 71, 0.36);
                box-shadow: 0px 0px 30px 0 rgba(71, 71, 71, 0.36), 0 0px 30px 0 rgb(71, 71, 71, 0.36);
                padding: 20px;
                // border: 1px solid rgba(37, 37, 37, 0.705);
                margin: 10px 0;

                display: flex;
                align-items: center;
                justify-content: center;
                h2 {
                    color: $secondary-color;
                    text-transform: uppercase;
                    font-size: 22px;
                    font-weight: bold;
                }
                .experience-corp {
                    // text-align: right;
                    // text-transform: uppercase;
                    color: $third-color;
                    font-weight: bold   ;
                }
                p{
                    // color: $primary-color;
                    font-size: 14px;
                }
            }
        }
    }
    .skills-sec {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .skills-content {
            h2{
                color: $third-color;
                text-transform: uppercase;
                padding: 0 0 25px 0;
                margin-top: -60px;
                span {
                    color: $secondary-color;
                }
            }
            .skills {
                display: flex;
                justify-content: space-around;
                p{
                    display: inline-block;
                    width: 150px;
                    margin: 10px 5px;
                    padding: 5px 0;
                    border: 1px solid $third-color;
                    // border-radius: 5px;
                    // text-transform: uppercase;
                    span{
                        color: $third-color;
                    }
                }
            }
        }
    }
    .about-sec {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        .summary {
            h3 {
                color: $third-color;
                text-transform: uppercase;
            }
        }
        .intro-subsec {
            .intro-title {
                p{
                    span{
                        color: $third-color;
                    }
                }
            }
        }
    }

    @media (max-width: 480px) {
        .container {
            width: 95%;
        }
        .dark-theme .resume-wrapper .intro-sec .pic-wrapper {
            top: 20px;
        }
        .light-theme .resume-wrapper .intro-sec h1 {
            font-size: 45px;
        }
        .experience-sec .experiences .experience {
            width: 100%;
        }
        .intro-sec h1 {
            font-size: 50px;
        }
        .intro-sec p {
            font-size: 14px;
        }
        .skills-sec .skills-content h2 {
            margin: 10px 0;
            padding: 0;
        }
        .experience-sec .experiences .experience h2 {
            font-size: 18px;
        }
        .experience-sec .experiences .experience {
            padding: 15px 10px;
            margin: 10px;
        }
        .experience-sec .experiences .experience p {
            padding: 0;
            margin: 0;
        }
        .experience-sec .experiences .experience .experience-corp {
            margin-bottom: 5px;
        }
        .sec .section-heading {
            margin: 15px 0;
        }
        .experience-sec .experiences .experience-last {
            margin-bottom: 200px;
        }
    }
    @media (max-width: 320px) {
        .intro-sec h1 {
            font-size: 42px;
        }
        .skills-sec .skills-content .skills {
            justify-content: space-between;
        }
        .skills-sec .skills-content .skills p {
            font-size: 15px;
            width: 137px;
            margin: 10px 0px;
            padding: 5px 0;
        }
    }
}











