@import 'bootstrap/dist/css/bootstrap.min.css';
@import "./layout.css";
// @import "aos/dist/aos.css";
// @import "./resume.scss";

$myColor: rgb(27, 27, 27);

*{
    margin: 0;
    padding: 0;
}
.row {
  --bs-gutter-x: 0;
}

#root {
    position: relative;
    overflow-x: hidden;
    min-height: 100vh;
    text-align: center;
}

.text-center {
    text-align: center;
}

.light-theme {
    $primary-color: rgb(238, 238, 238);
    $primary-color2: rgb(216, 216, 216);
    $secondary-color: rgb(24, 24, 24);
    $third-color: #e0a80d;
    @import "./resume.scss";

}

.dark-theme {
    $primary-color: black;
    $primary-color2: rgb(19, 19, 19);
    // $primary-color: #434545;
    $secondary-color: white;
    $third-color: #e0a80d;
    @import "./resume.scss";

}

